/* src/css/ads.css */

.ads-page {
  background-color: var(--primary-color); /* Light gray body bg */
  /* min-height: 100vh; */
  padding: 40px 40px;
  display: flex;
  justify-content: center;
}

.ads-container {
  /* max-width: 800px; */
  width: 100%;
  text-align: center;
}

/* Image/Card Containers */
.ads-image-card {
  background-color: transparent;
  margin-bottom: 20px;
  border-radius: 12px;
}

.ads-image-card img {
  width: 70%;
  height: auto;
  display: block;
  border-radius: 12px;
  margin: 0 auto;
}

/* Bottom CTA */
.ads-cta-btn {
  display: inline-block;
  background-color: #fff;
  color: #000;
  padding: 12px 30px;
  border-radius: 30px;
  border: 1px solid #000;
  font-weight: 600;
  text-decoration: none;
  margin-top: 40px;
  transition: all 0.3s;
  font-size: 14px;
}

.ads-cta-btn:hover {
  background-color: #000;
  color: #fff;
}

/* Mobile Media Query */
@media (max-width: 768px) {
  .ads-page {
    padding: 40px 20px; /* Reduced side padding */
  }

  .ads-image-card img {
    width: 90%; /* Full width images on mobile */
  }
}
